<tr>
  <td scope="row"><%= link_to task.content, edit_task_path(task) %></td>
  <td><%= task.deadline.to_s(:date) %></td>
  <td class="badge badge-<%= task_status(task)[:type] %>">
  <%= task_status(task)[:message] %>
  </td>
</tr>