<% provide(:title, "My page") %>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h2>Todo List</h2>
      <% if @user.tasks.any? %>
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">やること</th>
              <th scope="col">締め切り</th>
              <th scope="col">ステータス</th>
            </tr>
          </thead>
          <tbody>
            <%= render @tasks %>
          </tbody>
        </table>
        <%= will_paginate @tasks %>
      <% else %>
        Nothing to do!
      <% end %>
    </div>
  </div>
</div>